*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #ccc;
}

.inner
{
    max-width: 450px;
    width: 95%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.inner > h2 
{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.input_field
{
    position: relative;
    height: 40px;
    width: 100%;
}
.anim_field
{
    height: 100%;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}
.anim_border
{
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: red;
    transition: all 0.4s linear;
}
.anim_field:focus~.anim_border
{
    left: 0px;
    width: 100%;
}